* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: #222;
}

header {
	border-bottom: 1px solid #777;
	text-align: center;
	height: 50px;
	margin-bottom: 15px;
	background-color: #222;
}

header > * {
	display: inline-block;
	font-size: 1.25em;
	vertical-align: bottom;
	margin: 10px 0;
	padding: 0 10px;
	background-color: #222;
	color: #ddd;
}

footer {
	background-color: #222;
	border-top: 1px solid #777;
	height: 50px;
	width: 100%;
	margin-top: 15px;
	overflow: hidden;
	user-select: none;
	-webkit-user-select: none;
}

#paging {
	list-style-type: none;
	text-align: center;
	margin: 0 auto;
	background-color: #222;
}

.paging-item {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 7px;
	margin: 15px 5px;
	background-color: #aaa;
	cursor: pointer;
}

.active-item {
	background-color: #f00;
}

.paging-item::after {
	border: 1px solid #777;
	background-color: #222;
	color: #eee;
	position: absolute;
	height: 20px;
	width: 20px;
	margin-top: -22px;
	margin-left: -10px;
	content: attr(value);
	visibility: hidden;
}

.paging-item:hover::after {
	visibility: visible;
}

.paging-item:not(.active-item):hover {
	background-color: #777;
}

.content {
	/*border: 1px solid #f00;*/
	position: relative;
}

#videos {
	text-align: center;
	vertical-align: middle;
	margin: auto;
	position: absolute;
	width: 100%;
	height: 100%;
	user-select: none;
	-webkit-user-select: none;
}

.video-item {
	width: 300px;
	display: inline-block;
	margin: 0 20px;
	border: 1px solid #777;
	text-align: left;
	vertical-align: top;
	height: 100%;
	overflow: hidden;
}

.video-item > h3 {
	height: 1.25em;
	font-size: 1.25em;
	color: #f00;
}

.video-item > * {
	margin: 15px 10px;
	display: block;
	overflow: hidden;
	color: #eee;
}

.video-item h3 a {
	color: #f00;
	text-decoration: none;
}

.video-item h3 a:hover {
	color: #a00;
}

.video-item img {
	max-width: 100%;
}

.swipe-away {
	transition: transform .5s linear;
}

.new-content {
	-webkit-animation: appear .3s;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1040px) {
	header, footer {
		height: 100px;
	}
	footer {
		display: block;
	}
	header > * {
		height: 60px;
		margin: 20px 0;
	}
	.video-item {
		width: 40%;
	}
	.paging-item {
		margin: 30px 5px;
	}
}

@media (max-width: 900px) {
	.video-item {
		width: 65%;
	}
	footer {
		display: block;
	}
}

@media (max-width: 700px) {
	.video-item {
		width: 75%;
	}

	footer {
		display: none;
	}
}

@media (max-height: 550px) {
	.video-item *:nth-child(6) {
		visibility: hidden;
	}
	.video-item > * {
		margin: 20px 10px;
	}
}